<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/katex/dist/katex.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/cerulean.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='bower_components/katex/dist/katex.min.css' />
	<link rel="shortcut icon" href="/images/favicon.ico">

</head>
<style> 
	body {

		width: 100%;

		margin: 0 auto;

		background-color: white;

	}

	nav {

		width: 100%;

		position: fixed;

		top: 0;

	}

	nav ul {

		list-style: none;

		overflow: hidden; }

		nav ul li {

			float: left;

			width: 100%; }

			nav ul li a {

				text-align: center;

				padding: 12px 0;

				display: block;

				width: 100%;

				background: #4169e1; /* Old browsers */

				background: -moz-linear-gradient(top, #00bfff 0%, #32cbff 100%); /* FF3.6+ */

				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bfff), color-stop(100%,#32cbff)); /* Chrome,Safari4+ */

				background: -webkit-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Chrome10+,Safari5.1+ */

				background: -o-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Opera 11.10+ */

				background: linear-gradient(to bottom, #00bfff 0%,#32cbff 100%); /* W3C, IE10+ */

				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */

				endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */

}

nav ul li a,

nav ul li a:focus,

nav ul li a:visited,

nav ul li a:hover,

nav ul li a:active {

	color: #000;

	text-decoration: none; }

	nav ul li a:hover,

	nav ul li a:active {

		background: #19a2d1; /* Old browsers */

		background: -moz-linear-gradient(top, #19a2d1 0%, #66cle0 100%); /* FF3.6+ */

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19a2d1), color-stop(100%,#66cle0)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Chrome10+,Safari5.1+ */

		background: -o-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Opera 11.10+ */

		background: linear-gradient(to bottom, #19a2d1 0%,#66cle0 100%); /* W3C, IE10+ */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a2d1', endColorstr='#66cle0',GradientType=0 ); /* IE6-9 */

	}

</style>
<body>
	<br><br><br>

	<div class="blog title">
		<h1> About Me </h1> <br>
	</div>

	<div class="blog content">

		<p> My name is Liam Walsh. I am a current Junior at Brown University, en route to receive a Bachelor of Science in Applied Mathematics. Additionally, I have taken/plan to take a number of Computer Science courses. Ideally, I would like to combine these two disciplines, and end up working on topics in Machine Learning and AI. I also have an intense interest in ancient civilizations of and around the Mediterranean, and I am fluent in Latin and ancient Greek.  </p>
		<br>


		<p> Outside of academics, I enjoy biking and skiing. I also like to cook, especially pastries. </p>

		<h2> Contact </h2>

		<p> Phone: 857-234-0932 </p>
		<p> Email: liam_walsh@brown.edu </p>
		<p> Resume: <a href="/pages/Liam_Walsh_Resume1.pdf" download>Download </a> </p>

	</div>

	<nav>
  <ul>
    <li>
       <a href="/">Home</a>
    </li>
  </ul>
</nav>
</body>
</html>







