<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/cerulean.min.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico">

   </head>
   <style>
 
nav {
 
  width: 100%;

  position: fixed;

  top: 0;
 
   }
 
nav ul {
 
  list-style: none;
 
  overflow: hidden; }
 
nav ul li {
 
  float: left;
 
  width: 25%; }
 
nav ul li a {
 
  text-align: center;
 
  padding: 12px 0;
 
  display: block;
 
  width: 100%;
 
  background: #4169e1; /* Old browsers */
 
  background: -moz-linear-gradient(top, #00bfff 0%, #32cbff 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bfff), color-stop(100%,#32cbff)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #00bfff 0%,#32cbff 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */
 
  endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */
 
}
 
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  color: #000;
 
  text-decoration: none; }
 
nav ul li a:hover,
 
nav ul li a:active {
 
  background: #19a2d1; /* Old browsers */
 
  background: -moz-linear-gradient(top, #19a2d1 0%, #66cle0 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19a2d1), color-stop(100%,#66cle0)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #19a2d1 0%,#66cle0 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a2d1', endColorstr='#66cle0',GradientType=0 ); /* IE6-9 */
 
}
 
  </style>

   <body>
<br><br>

<div class="blog title">
<h1> Discrete Choice Model Optimization </h1>
</div>

<div class="blog content">
<h2>Background</h2>

<p> A common problem in business is the question of what price to charge, or, similarly, how much of a discount to offer on a good. A firm has to balance two conflicting restraints. They have to charge a price high enough so that they can maximize their own profit, while still setting the price low enough so that it is appealing to consumers. The question, then, becomes this: How can one optimize the profit, under these restraints? </p>

<h2>The Discrete Choice Model</h2>
 
 <p> Typically, the higher the price of a good, the less likely a consumer is to purchase that good. Further, the probability of purchase is dependent upon the product itself, the price of the product, and the specific consumer. In this model, assume that the firm in question is able to cater the price of the good towards one consumer. As such, this allows one to assume that the consumer, and thus the preferences associated with that consumer, remain constant. Next, since we are only discussing a single good, the attributes of the good in the model remain constant as well. Thus, the only thing which will be varied is the price. These assumptions are what comprise the Discrete Choice Model. </p>

 <h2>The Logistic Model</h2>
 <p>The logistic  model takes its name from the fact that it utilizes the logistic function to calculate probability. The logistic function looks like the following: </p>

<span class="katex"> P = \frac{e^U}{1+e^U} </span>

<p> This is a particularly useful model, as it bounds P within [0,1] </p>

<p> Next, one can consider U to be the utility of a particular product. For this particular model, U is linear function of p, the price: </p>

<span class="katex"> U= \alpha - \beta p </span>

<p> Here, &alpha; is a scalar representing the preferences of a particular consumer with respect to the good in question. &beta; is a scalar determining how p affects utility, based on the consumer’s preference. When one combines both the logistic function and the utility function, the full Discrete Choice Model appears, with the probability function taking the following form: </p>

<span class="katex"> P = \frac{e^{\alpha - \beta p}}{1+e^{\alpha - \beta p}} = \frac{1}{1+e^{\beta p-\alpha}} </span>

<p> Visually, the graphs of this probability function look like the following when varying &beta; and &alpha;, respectively: </p>

<div class="images">
<img src="/images/blog/discrete_choice/purchprobbeta.png"/>

<img src="/images/blog/discrete_choice/purchprobalpha.png"/>
</div>


<h2>Analytic Calculation</h2>

<p>While this problem can be solved numerically, often an analytic solution to such a problem helps to reduce computation time, and simplifies the entire process. It can also help to make coding the solution to this problem more straightforward, and easier to read.</p>

<p>The problem is to maximize total expected revenue, which is given by the the probability function times the price: </p>

<span class='katex'> E[R]=\frac{e^U}{1+e^U} * p </span>

<p>Next, maximize the expected revenue with respect to the price, p. Since the natural logarithm function is monotonic, one can maximize the log of the revenue function, and still preserve the true value of p&#42;. This is merely done for ease of differentiation. The equation to maximize becomes the following: </p>

<span class="katex"> ln(R)=ln(p) + \alpha - \beta p - ln(1+e^{\alpha-\beta p}) </span>

<p> Deriving with respect to p, then setting the equation equal to 0 yields: </p>

<span class="katex"> 0=\frac{1}{p} - \beta + \frac{\beta e^{\alpha-\beta p}}{1+e^{\alpha-\beta p}} </span>

<p> After some algebraic rearrangement, the following equation is left: </p>

<span class="katex"> e^{\alpha - \beta p} =( \beta p -1)  </span>

<p> To solve this equation for p&#42;, I discovered the <a href="https://en.wikipedia.org/wiki/Lambert_W_function">Lambert W Function</a> was necessary </p>

<a name="lambertw"><h2>The Lambert W Function</h2></a>

<p>This function, W(x), can be defined implicitly as: </p>

<span class="katex"> x=W(x)e^{W(x)} </span>

<p> Unfortunately, there does not exist a simple equation relaying the value of W(x). Instead, it must be represented in a series expansion, like the following, found from <a href="http://mathworld.wolfram.com/LambertW-Function.html">WolframMathWorld</a>: </p>

<span class="katex"> W(x)=\sum_{n=1}^{\infty} {\frac{(-1)^{n-1} (n^{n-2})}{(n-1)!} x^n}</span>

<p> This series converges for |x|&lt;(1/e) </p>

<h2>Finding the Optimal Price</h2>

<p> To use the Lambert W function, some rearrangement must be done: </p>

<span class="katex"> e^{\alpha -1}=(\beta p -1)e^{(\beta p -1)} </span>

<p> Then, after employing the Lambert W function: </p>

<span class="katex"> W(e^{\alpha-1})=\beta p -1 </span>
 
 <p>Finally, after performing some algebra, an explicit equation for the optimal price, p&#42; appears: </p>

<span class="katex"> p^*=\frac{W(e^{\alpha -1}) +1}{\beta} </span>

<h2>Numerical Calculation</h2>

<p> In this case, no longer do I seek to find p&#42; through an explicit formula, but instead I have a computer sort through all the values to find a maximum. Below are two graphs created in MATLAB. In this first one, β=.1, and &alpha; varies between 0 and 10 in .5 step increments. </p>

<div class="images">
<img src="/images/blog/discrete_choice/vary_alpha.png"/>
</div>

<p> There are two things which one can immediately glean from this graph. First, one can see that as &alpha; increases, so does p&#42; and the maximum revenue. This finding makes sense on an intuitive level; As &alpha; increases, a customer's utility becomes more heavily defined in terms of the other reasons why the good is desirable. In this case, one can charge a higher price on the good without affecting the overall utility of the good to a consumer, which leads to higher revenue. </p>

<p> A second finding is that the maxima occur in a linear fashion, which is curious. </p>



<p> This next graph below shifts &beta; values from .05 to .49, while holding &alpha;=4: </p>

<div class="images">
<img src="images/blog/discrete_choice/vary_beta.png"/>
</div>

<p> First, notice that as &beta; increases in magnitude, the optimal price falls, as does the maximum revenue. Not only is this consistent with the analytic solution for p&#42; (since p&#42; is inversely proportional to &beta;), but it also makes logical sense. A larger &beta; means that utility is more heavily affected by the price. The consumer is more concerned about the price of the good, rather than what they like about the good. This then affects the probability function, and the revenue function. </p>

<p> Again, the maxima occur in a near linear fashion. Given that in both cases of varying &alpha; and &beta; that the maxima occur in a linear fashion, there may be some way to find a simpler approximation for p&#42;. </p>

<h2>Comparison of Analytic vs Numerical Calculation</h2>

<p> While it is interesting to find an explicit formula for p&#42;, it is more important to discover if this formula can actually be of any use. First, we can use the explicit formula to determine how accurate the maxima found numerically are: </p>

<div class="images">
<img src="images/blog/discrete_choice/alpha_num_vs_analy.png"/>
</div>

<p> Here, the filled orange circles represent the maxima found analytically, and the black, empty circles are the numerically found maxima. Clearly, the numerically found maxima are pretty accurate. The percent error was on the scale of 10^-6 </p>

<p>Since the numerical maxima are known to be accurate, one might wonder which method arrives at the optimal price faster. </p>

<div class="images">
<img src="images/blog/discrete_choice/analy_vs_numer_runtime.png"/>
</div>

<p> The answer, quite clearly, is that the numerical calculation is faster. In this case, the average runtime of the analytic calculation was .0301s, where it only took an average of .00012986s for the numerical calculation. Both of these calculations come from analysis of runtimes in MATLAB. </p>

<h2>Concluding Remarks</h2>

<p> Overall, I discovered that there does exist an explicit equation determining the price which optimizes revenue. I also noticed a trend in the maxima when varying &beta; and &alpha;: The maxima occurred in a linear fashion. This seems to indicate that there may be a way to approximate the equation for the optimal price. If so, this raises a few questions: </p>

<p> What is the explicit form of the approximation? </p>
<p> Is it accurate enough for practical use? </p>
<p> Is the runtime of the approximation better than that of the simple numerical finding of the optimal price? </p>


<!-- xmp goes here-->
</div>

<nav>
  <ul>
    <li>
       <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Previous</a>
    </li>
    <li>
      <a href="/opt_approx">Next</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>


<script type="text/javascript">
 $(".katex").each(function() {
  katex.render(this.innerHTML, this, {displayMode: true });
});
</script>	
  </body>
</html>