<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Don't edit style.css, edit style.styl instead -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- my scripts go here -->
    <!-- my css style imports go here -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a test page</p>
    <p>I can create code here</p>
  </body>
</html>
