<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cerulean.min.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    
  </head>
  <body>
<xmp theme="cerulean" style="display:none;">

# Welcome!
<p> This is my blog. Here I post about various math topics I happen to run across. </p>

<h3> Post Navigation </h3>

<p> <a href="/discrete_choice"> Discrete Choice Price Optimization </a> </p>

<p> <a href ="/opt_approx"> Approximating the Lambert W Function and Optimal Price </a></p>


</xmp>



<script src="bower_components/strapdown/strapdown.js"></script>
<link rel="stylesheet" href="bower_components/strapdown/strapdown.css">

<script type="text/javascript">
$(".katex").each(function() {
  katex.render(this.innerHTML, this, {displayMode: true });
});
</script>
  </body>
</html>