<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    
  </head>
  <body>
<xmp theme="cerulean" style="display:none;">

# <%= title %>
<p>Welcome to my blog</p>
<p>Click on any dot below to begin</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <p> Here's some math for you</p>
<span class="katex">c = \pm\ sqrt(a^2 + b^2)</span>

# Markdown text goes in here

## Click on any of the below to find a post:

<p> <a href="http://liamcwalsh.herokuapp.com/discrete_choice"> Discrete Choice Price Optimization </a> </p>

<p> <a href ="http://liamcwalsh.herokuapp.com/opt_approx"> Approximating the Lambert W Function and Optimal Price </a></p>

</xmp>


<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>

<script type="text/javascript">
$(".katex").each(function() {
  katex.render(this.innerHTML, this, {displayMode: true });
});
</script>
  </body>
</html>