<!DOCTYPE html>
<html>
  <head>
    <title>No Bootstrap</title>
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/katex/dist/katex.min.js"></script>
    <link rel='stylesheet' href='bower_components/katex/dist/katex.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    <link rel='stylesheet' href='/stylesheets/cerulean.min.css' />
   </head>
   <style>
   body {
 
  width: 100%;
 
  margin: 0 auto; }
 
nav {
 
  width: 100%;

  position: fixed;

  top: 0;
 
   }
 
nav ul {
 
  list-style: none;
 
  overflow: hidden; }
 
nav ul li {
 
  float: left;
 
  width: 25%; }
 
nav ul li a {
 
  text-align: center;
 
  padding: 12px 0;
 
  display: block;
 
  width: 100%;
 
  background: #4169e1; /* Old browsers */
 
  background: -moz-linear-gradient(top, #00bfff 0%, #32cbff 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bfff), color-stop(100%,#32cbff)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #00bfff 0%,#32cbff 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #00bfff 0%,#32cbff 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */
 
  endColorstr='#32cbff',GradientType=0 ); /* IE6-9 */
 
}
 
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  color: #000;
 
  text-decoration: none; }
 
nav ul li a:hover,
 
nav ul li a:active {
 
  background: #19a2d1; /* Old browsers */
 
  background: -moz-linear-gradient(top, #19a2d1 0%, #66cle0 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19a2d1), color-stop(100%,#66cle0)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #19a2d1 0%,#66cle0 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #19a2d1 0%,#66cle0 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a2d1', endColorstr='#66cle0',GradientType=0 ); /* IE6-9 */
 
}
 
  </style>

   <body>

<nav>
  <ul>
    <li>
       <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Previous: Discrete Choice . . .</a>
    </li>
    <li>
      <a href="#">Next</a>
    </li>
    <li>
      <a href="#">Search</a>
    </li>
  </ul>
</nav>
<br>
<br>
<div class="blog content">
<h1>Approximating the Lambert W Function</h1>
</div>

<div class="blog content">
<p> The main reason why the explicit equation is too slow to use is because of the Lambert W function. The implementation which MATLAB employs is slow, resulting in a larger runtime. </p>

<p> However, if you look at a graph of W(e^x), you can notice one thing right away: </p>

<div class="images">
<img src="/images/blog/lambertapprox/lambert_exp_graph.png" width="700px" height="400px"/>
</div>

<p> The graph is nearly linear, which would indicate that perhaps there exists a fairly simple approximation to the Lambert W function, which could significantly improve the runtime of the analytic calculation fo the optimal price. </p>

## First Order Approximation

<p> <a href="http://mathworld.wolfram.com/LambertW-Function.html"> According to Wolfram Mathworld</a>, The Lambert W function W(x) has a first order approximation of the form: </p>

<span class="katex"> W(x)=ln(x) - ln(ln(x))+ o(1) </span>

<p> Then, since we want to approximate W(e^x), this simplifies to: </p>

<span class="katex"> W(e^x)=x-ln(x) +o(1) </span>

<p> This approximation is fairly accurate. The graph below shows W(e^x)/(x-ln(x)), which approaches 1 as the approximation becomes more accurate: </p>

<div class="images">
<img src="/images/blog/lambertapprox/1st_ord_lambapprox.png" width="700px" height="400px"/>
</div>
<br>

<p>Clearly, this approximation is not perfect. To be more precise, when x=4, the error between the approximation and the actual value was 10.86%. </p>
</div>
</body>
