body {
  padding: 50px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}
a {
  color: #00b7ff;
}
h1 {
  color: #00f;
  font-size: 48px;
  font-weight: 100;
}
.blog.content {
  width: 500px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
}
.images {
  width: 700px;
  height:400px;
  position: relative;
  right: 110px;
}
.navigation {
  position: relative;
  left: 450px;
}